<div class="page-layout">
  <div class="page-content">
    <div class="inner-content">
      <div *ngIf="config">
        <app-breadcrumb [items]="config.breadCrumbs"></app-breadcrumb>
        <div class="page-title">
          <button class="icon-btn" (click)="goBack()">
           <img class="icon" [src]="this.imgPath + 'icons/back-icon.svg'" alt="Back" />
          </button>
          <span>{{ config.title }}</span>
        </div>
        <div *ngIf="form">
          <form [formGroup]="form">
            <app-section
              *ngFor="let section of config.sections"
              [section]="section"
              [form]="form"
            >
            </app-section>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
