<div [formGroup]="form" *ngIf="form">
  <label
    [for]="field.name"
    class="form-label"
    *ngIf="
      field.type !== 'button' &&
      field.type !== 'toggle' &&
      field.type !== 'static'
    "
    [class.required]="
      field.validators?.required || field.validatorsWhen?.required || isRequired
    "
  >
    {{ field.label }}
  </label>
  <div class="field-wrapper">
    <ng-container [ngSwitch]="field.type">
      <div
        *ngSwitchCase="'input'"
        class="field-container"
        [ngClass]="{ 'readonly-wrapper': field.readonly }"
      >
        <input
          [type]="field.inputType || 'text'"
          [id]="field.name"
          class="form-control"
          [class.loading]="loading$ | async"
          [formControlName]="field.name"
          [placeholder]="field.placeholder || ''"
          [class.error]="isInvalid"
          [appEventHandler]="field"
          (onEvent)="handleEvent($event)"
          [ngClass]="{ readonly: field.readonly }"
          [mask]="maskPattern"
          [min]="min"
          [max]="max"
        />
        <span *ngIf="loading$ | async">
          <img [src]="loaderURL" alt="Loading..." class="spinner-icon" />
        </span>
      </div>

      <div
        *ngSwitchCase="'text-area'"
        class="field-container"
        [ngClass]="{ 'readonly-wrapper': field.readonly }"
      >
        <textarea
          [id]="field.name"
          class="form-control"
          [class.loading]="loading$ | async"
          [formControlName]="field.name"
          [placeholder]="field.placeholder || ''"
          [class.error]="isInvalid"
          [appEventHandler]="field"
          (onEvent)="handleEvent($event)"
          [ngClass]="{ readonly: field.readonly }"
        ></textarea>

        <span *ngIf="loading$ | async">
          <img [src]="loaderURL" alt="Loading..." class="spinner-icon" />
        </span>
      </div>

      <div
        *ngSwitchCase="'select'"
        class="field-container"
        [ngClass]="{ 'readonly-wrapper': field.readonly }"
      >
        <ng-select
          [items]="options$ | async"
          [placeholder]="field.placeholder || ''"
          [formControlName]="field.name"
          [class.error]="isInvalid"
          (change)="handleNgSelectChange($event)"
          [ngClass]="{
            readonly: field.readonly,
            'hide-arrow': (loading$ | async),
          }"
        ></ng-select>
        <span *ngIf="loading$ | async">
          <img [src]="loaderURL" alt="Loading..." class="spinner-icon" />
        </span>
      </div>

      <div
        *ngSwitchCase="'datepicker'"
        class="field-container input-icon icon-right icon-calendar overflow-auto"
        [ngClass]="{ 'readonly-wrapper': field.readonly }"
        [id]="field.name"
      >
        <input
          type="text"
          class="form-control"
          style="cursor: pointer"
          [class.loading]="loading$ | async"
          [container]="field.name"
          [formControlName]="field.name"
          [placeholder]="field.placeholder || ''"
          bsDatepicker
          [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
          [minDate]="minDate"
          [maxDate]="maxDate"
          (bsValueChange)="handleDateChange($event)"
          [class.error]="isInvalid"
          [ngClass]="{ readonly: field.readonly }"
          [mask]="maskPattern"
        />
        <span *ngIf="loading$ | async">
          <img [src]="loaderURL" alt="Loading..." class="spinner-icon" />
        </span>
      </div>

      <div *ngSwitchCase="'toggle'" class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          [id]="field.name"
          [formControlName]="field.name"
        />
        <label class="text-sm" [for]="field.name">{{ field.label }}</label>
      </div>

      <div *ngSwitchCase="'static'">
        <p class="form-control-static">{{ field.value }}</p>
      </div>

      <button
        *ngSwitchCase="'button'"
        type="button"
        class="btn btn-outline btn-md w-100"
        (click)="onButtonClick()"
      >
        <img
          *ngIf="field.iconPath"
          [src]="field.iconPath"
          [alt]="field.label"
          class="btn-icon"
        />
        <span
          >{{ field.label }}
          <span *ngIf="loading$ | async">
            <img [src]="loaderURL" alt="Loading..." class="spinner-icon" />
          </span>
        </span>
      </button>
    </ng-container>

    <div class="error-msg" [class.show]="errorMessage">
      {{ errorMessage }}
    </div>
  </div>
</div>
