<div [formGroup]="form" *ngIf="form">
  <label
    [for]="field.name"
    class="form-label"
    *ngIf="field.type !== 'button' && field.type !== 'toggle'"
    [class.required]="field.validators?.required"
  >
    {{ field.label }}
  </label>
  <ng-container [ngSwitch]="field.type">
    <input
      *ngSwitchCase="'input'"
      [type]="field.inputType || 'text'"
      [id]="field.name"
      class="form-control"
      [formControlName]="field.name"
      [placeholder]="field.placeholder || ''"
      [class.error]="isInvalid"
      [appEventHandler]="field"
      (onEvent)="handleEvent($event)"
    />

    <ng-select
      *ngSwitchCase="'select'"
      [items]="field.options"
      bindLabel="name"
      [bindValue]="
        field.options && field.options.length > 0 && field.options[0].key
          ? 'key'
          : 'id'
      "
      [placeholder]="field.placeholder || ''"
      [formControlName]="field.name"
      [class.error]="isInvalid"
      appendTo="body"
      [appEventHandler]="field"
      (onEvent)="handleEvent($event)"
    ></ng-select>

    <div
      *ngSwitchCase="'datepicker'"
      class="input-icon icon-right icon-calendar"
    >
      <input
        type="text"
        class="form-control"
        [id]="field.name"
        [formControlName]="field.name"
        [placeholder]="field.placeholder || ''"
        bsDatepicker
        [class.error]="isInvalid"
        [appEventHandler]="field"
        (onEvent)="handleEvent($event)"
      />
    </div>
    <button
      *ngSwitchCase="'button'"
      type="button"
      class="btn btn-outline btn-md w-100"
      (click)="onButtonClick()"
    >
      <img
        *ngIf="field.iconPath"
        [src]="field.iconPath"
        [alt]="field.label"
        class="btn-icon"
      />
      <span>{{ field.label }}</span>
    </button>
  </ng-container>

  <div *ngIf="errorMessage" class="invalid-feedback d-block">
    {{ errorMessage }}
  </div>
</div>
