<div *ngIf="config" class="p-4 mb-5">
  <app-breadcrumb [items]="config.breadCrumbs"></app-breadcrumb>
  <div class="page-title">{{ config.title }}</div>
  <div *ngIf="form">
    <form [formGroup]="form">
      <app-section
        *ngFor="let section of config.sections"
        [section]="section"
        [form]="form"
      >
      </app-section>
    </form>
  </div>
</div>
<footer class="fixed-bottom bg-white shadow-md d-flex justify-content-between">
  <div class="d-flex align-items-center gap-3 p-3">
    <button class="btn btn-outline btn-md px-5" (click)="redirect()">
      Proceed
    </button>
  </div>
</footer>
