<div class="ps-4 pt-4" *ngIf="config">
  <div class="text-lg font-semibold">{{ config.title }}</div>
</div>

<div class="px-4" *ngIf="config">
  <ng-container *ngFor="let subsection of config.subsections">
    <div
      *ngIf="shouldShowField(subsection)"
      class="subsection-review border-bottom-grey-2 pt-4"
    >
      <p class="text-base font-semibold mb-4" *ngIf="subsection.title">
        {{ subsection.title }}
      </p>

      <ng-container [ngSwitch]="subsection.type">
        <ng-container *ngSwitchCase="'form-array'">
          <ng-container
            *ngFor="let item of dataRes?.data?.[subsection.name]; let i = index"
          >
            <div class="subsection-review">
              <p class="text-sm font-semibold mb-4">
                {{ subsection.title }} {{ i + 1 }}
              </p>
              <div class="row g-4 mb-4">
                <ng-container
                  *ngFor="let field of subsection.formGroupTemplate"
                >
                  <div class="col-3 ps-0 text-sm">
                    <div class="text-grey font-bold">{{ field.label }}</div>
                    <div class="review-field-value">
                      {{ item[field.name] || "-" }}
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'addon-array'">
          <ng-container
            *ngFor="
              let item of getVisibleAddons(dataRes?.data?.[subsection.name]);
              let i = index
            "
          >
            <div class="subsection-review">
              <p class="text-sm font-semibold mb-2">
                {{ item.location_addon_name }}
              </p>
              <div class="row g-4 mb-2">
                <ng-container
                  *ngFor="let field of subsection.formGroupTemplate"
                >
                  <div
                    *ngIf="
                      shouldShowSubField(field, item) &&
                      field.name !== 'location_addon_name'
                    "
                    class="col-3 ps-0 text-sm"
                  >
                    <div class="text-grey font-bold">{{ field.label }}</div>
                    <div class="review-field-value">
                      {{ item[field.name] || "-" }}
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <div class="row g-4 mb-4">
            <ng-container *ngFor="let field of subsection.fields">
              <div *ngIf="shouldShowField(field)" class="col-3 ps-0 text-sm">
                <div class="text-grey font-bold">{{ field.label }}</div>
                <div class="review-field-value">
                  {{ dataRes?.data?.[field.name] || field.value || "-" }}
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>