<div class="page-layout">
  <div class="page-content">
    <div *ngIf="config">
      <app-breadcrumb [items]="config.breadCrumbs"></app-breadcrumb>
      <div class="page-title mb-4">{{ config.title }}</div>
      <section class="section-card bg-light">
        <div
          class="card-header-grey d-flex justify-content-between align-items-center"
        >
          <div class="text-md font-semibold">
            Policy Summary | Quotation ID: AEP68203763
          </div>
          <div class="d-flex gap-3 align-items-center">
            <img
              [src]="imgPath + 'images/icon-policy-cloning.svg'"
              alt="icon-copy"
              class="cursor-pointer"
              *ngIf="!isProposal"
            />
            <img
              [src]="imgPath + 'images/icon-policy-share.svg'"
              alt="icon-share"
              class="cursor-pointer"
            />
            <img
              [src]="imgPath + 'images/icon-policy-download.svg'"
              alt="icon-download"
              class="cursor-pointer"
            />
          </div>
        </div>
        <div
          *ngFor="let section of config.sections"
          class="review-section-wrapper"
        >
          <ng-container [ngSwitch]="section.componentType">
            <ng-container *ngSwitchCase="'attachments-review'">
              <app-attachments-review
                [config]="section"
              ></app-attachments-review>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <app-policy-summary
                [config]="section"
                [dataRes]="quoteService.quoteRes || ''"
              ></app-policy-summary>
            </ng-container>
          </ng-container>
        </div>
      </section>
    </div>
    <div class="mt-4">
      <app-view-breakup [config]="config.viewBreakup"></app-view-breakup>
    </div>

    <div class="d-flex align-items-center justify-content-end gap-3 mt-4">
      <!-- <button
        [ngClass]="'btn-' + config.ckycAction.type"
        class="btn btn-md"
        (click)="handleButtonClick(config.ckycAction)"
      >
        {{ config.ckycAction.label }}
      </button> -->
      <button
        class="btn btn-primary btn-md px-5 d-flex align-items-center gap-2"
        *ngIf="isFinalized"
        (click)="redirect()"
      >
        <span>Proceed To Proposal</span>
      </button>
    </div>
  </div>
</div>
