<div class="offcanvas-layout" *ngIf="config && form">
  <div
    class="bg-primary d-flex justify-content-between align-items-center text-white p-4 text-md"
  >
    <p>{{ config.title }}</p>
    <img
      class="cursor-pointer"
      src="https://harshitagnihotrigemini.github.io/insillion-common-styles-fe-harshit/assets/images/icon-close.svg"
      alt="icon-close"
      (click)="offcanvasService.dismiss()"
    />
  </div>

  <div class="offcanvas-body ckyc-form-container">
    <form [formGroup]="form">
      <div *ngFor="let section of config.sections" class="mb-4">
        <p
          class="text-base text-blue-secondary font-semibold mb-lg"
          *ngIf="section.title"
        >
          {{ section.title }}
        </p>
        <div class="row gy-4 gx-5">
          <div *ngFor="let field of section.fields" class="col-4 ps-0">
            <app-form-field [field]="field" [form]="form"> </app-form-field>
          </div>
        </div>
        <!-- <div *ngIf="section.actions" class="row gy-4 gx-5 mt-2">
          <div
            *ngFor="let action of section.actions"
            [ngClass]="action.wrapperClass || 'col-4'"
          >
            <app-form-field [field]="action" [form]="form"> </app-form-field>
          </div>
        </div> -->
      </div>
    </form>
  </div>
  <div class="px-3 py-2 mt-auto">
    <button
      class="btn btn-primary btn-sm px-5"
      *ngFor="let action of config.footerActions"
    >
      {{ action.label }}
    </button>
  </div>
</div>
