.error-msg {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-form-invalid-color);
  min-height: 1.25rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.error-msg.show {
  visibility: visible;
  opacity: 1;
}
.readonly {
  pointer-events: none;
  background-color: #f1f5fd !important;
}
.readonly-wrapper {
  cursor: not-allowed;
}

.field-container {
  position: relative;
  width: 100%;
}
.spinner-icon {
  position: absolute;
  top: 35%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
/* Adjust padding for inputs that have the loader to prevent text overlap */
.form-control.loading {
  padding-right: 35px; /* Adjust based on loader width + spacing */
}
.icon-btn {
  background: none;
  border: none;
  margin-left: -0.5rem;
}

.icon {
  height: 1.75rem;
}

ins-sidenav {
  position: fixed !important;
  z-index: 5;
}

.page-content {
  margin-left: 5.55rem;
}
